@font-face {
    font-family: 'Homestead'; /*a name to be used later*/
    src: url('../resources/Homestead-Display.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Homestead Plain'; /*a name to be used later*/
    src: url('../resources/Homestead-Regular.ttf'); /*URL to font*/
}

body {
	font-family: 'Open Sans', sans-serif;
}
 h1 {
    font-family: Homestead;
    font-size: 5em;
 }

h2 {
    font-family: Homestead;
    font-size: 3.5em; 
 }
.navbar-custom {
    background-color:#27ae60;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-custom .navbar-nav > li > a:hover {
    color:#fff;
    background-color:#94D7B0;
}

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:#27ae60;
}

.navbar-custom .navbar-brand {
    color:#fff;
}

.about-me-content {
	background: url("../images/squares.png");
	padding-bottom: 10px; 
	border-bottom: solid 3px #27ae60;
}

.profile-img {
	width: 270px; 
	float:right;
}

.card {
    display: block;
	text-align: center; 
	margin: 15px; 
    background-color:#27ae60;
    color:#fff;
    padding:5px; 
    -moz-border-radius: 15px;
	border-radius: 15px;
    height:200px; 
}

.card:hover {
	box-shadow: 10px 10px 5px #888888;

    cursor: pointer;
}

.card img {
	width:80%;
    vertical-align: bottom;
}

.card .img-container {
    height:150px;
}

.green-color {
    background-color:#27ae60;
}

.modal-body img {
    max-width: 100%; 
}

#masthead {
    right: 0px;
    top: 0px;
    position: fixed;
    height: 100%;
    width: 250px;
    z-index: 10;
    background-color: white;
    padding-bottom: 20px;
    overflow: hidden;
    display: block;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.picture { 
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC; 
    padding: 3px;
    font-size: 11px;
    width:25%;

}

.picture img { 
    border: 1px solid #CCCCCC;
    vertical-align:middle; 
    margin-bottom: 3px; 
    width:100%;
}

.right { 
    margin: 0.5em 0pt 0.5em 0.8em; 
    float:right; 
}

.left { 
    margin: 0.5em 0.8em 0.5em 0; 
    float:left; 
}

li a {
    color:black;
}

li a:hover {
    color:gray;
    cursor: pointer;
    text-decoration: none;
}

li {
    display: inline; 
    margin-left: 10px;
}
